apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
clusterName: "{{ cluster_name }}"
{% if coreos_compatibility %}
controllerManager:
  extraArgs:
    flex-volume-plugin-dir: "{{ flex_volume_plugin_dir }}"
{% endif %}
controlPlaneEndpoint: "{{ ansible_host }}:6443"
kubernetesVersion: "{{ kubernetes_version }}"
networking:
  dnsDomain: "{{ service_dns_domain }}"
  podSubnet: "{{ pod_network_cidr }}"
  serviceSubnet: "{{ service_cidr }}"
