apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: metallb-system
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
{% for range in metallb_l2_addr %}
        - {{ range }}
{% endfor %}
